[Desktop Entry]
Version=1.0
Name=Deepseek
Comment=Web App
Exec=google-chrome-stable --app="https://chat.deepseek.com/" --class=WebApp-Deepseek7048 --name=WebApp-Deepseek7048 --user-data-dir=/home/sergio85/.local/share/ice/profiles/Deepseek7048
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/sergio85/Pictures/deepseek-color.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Deepseek7048
StartupNotify=true
X-WebApp-URL=https://chat.deepseek.com/
X-WebApp-Browser=Chrome
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

